<html>
<script>
  async function submit () {
    const tag = document.getElementById('tag').value;
    if (!tag || !(/.*#[0-9]{4}/).test(tag)) {
      return alert('Put a valid Discord tag (username#discrimator) in the text area and click Submit.');
    }

    const res = await fetch('/getIDByTag', {
      method: 'GET',
      headers: { tag },
      mode: 'cors',
      cache: 'default'
    }).then(r => r.text());


    if (res === '404') {
      alert(`I was unable to find a user with the tag "${tag}". Are you sure you have a shared server with Tweetcord?`)
    } else {
      window.location.replace(`/auth/twitter?id=${res}`);
    }
  }
</script>

<head>
  <title>TweetCord</title>
</head>

<body>
  <h3>What's your Discord username + discriminator? This is the account that will be linked with your Twitter account.</h1>
    <input type="text" id="tag" value= <%=tag%> />
    <button onclick="submit()">Submit</button>
</body>

</html>